.btn-primary {
    background: #222;
    border: #000;
}


.navbar {
    background-color: #222;
    text-transform: uppercase;
    color: #eee;
}
table {
    width: 500px;
}

tbody {
    margin-bottom: 10px;
}

h2 {
    float: left;
    font-size: 16pt;
}

h3 {
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.panel-footer {
    background: white;
    padding: 3px;
    overflow: auto;
}
.panel-footer p {
    text-align: center;
}

.panel-heading {
    overflow: auto;
}

.panel-heading button {
    float: right;
}

p:last-child {
    margin-bottom: 0;
}

.panel-body {
    padding-bottom: 0;
}

.panel-body .row > div {
    float: left;
    margin-bottom: 20px;
}

.panel-body .row > div > div {
    float: left;
    padding-right: 20px;
}

label {
    min-width: 4em;
    float: left;
    clear: left;
}

.selected {
    font-weight: bold;
}

.make {
    width: 8em;
}

input {
    float: left;
}
input[type="checkbox"] {
    margin: 5px 5px 5px 0 !important;
}

th {
    font-weight: normal;
}

em {
    color: #ccc;
}
