<div class="panel panel-default">
    <div class="panel-heading" ng-click="showSearchOptions = !showSearchOptions">
        <h2 class="panel-title">
            SF Bay Area Motorycles for sale
        </h2>
        <button ng-click="query()" class="btn btn-primary">Search Craigslist</button>
    </div>
    <div class="panel-body" ng-show="showSearchOptions">
        <div class="row">
            <div class="col-md-4">
                <h3>Price</h3>
                <div>
                    <label>Min $</label>
                    <input type="number" ng-model="params.minAsk"></input>
                    <label>Max $</label>
                    <input type="number" ng-model="params.maxAsk"></input>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Sort</h3>
                <div>
                    <select ng-model="params.sort">
                        <option value="" selected>--</option>
                        <option value="date">Newest</option>
                        <option value="priceasc">Price: low to high</option>
                        <option value="pricedesc">Price: high to low</option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <h3>Search term</h3>
                <div>
                    <input type="text" ng-model="params.query"</input>
                </div>
                <div>
                    <select ng-model="params.query">
                        <option selected value="">--</option>
                        <option ng-repeat="(key, value) in presetQueries" value="{{value}}" selected>{{key}}</option>
                    </select> 
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer" ng-click="showSearchOptions = !showSearchOptions">
        <p>{{showSearchOptions ? 'Hide' : 'Show'}} search options</p>
    </div>
</div>

<div class="panel panel-default" ng-show="bikes">
    <div class="panel-heading" ng-click="showFilterOptions = !showFilterOptions">
        <h2 class="panel-title">Filter these results</h2>
        <button ng-click="loadMore()" class="btn btn-primary">Load next page</button>
    </div>
    <div class="panel-body" ng-show="showFilterOptions">
        <div class="row">
            <div class="col-md-6">
                <h3>Engine Size</h3>
                <div>
                    <label>Min</label>
                    <input type="number" ng-model="bools.engineMin"></input>
                    <label>Max</label>
                    <input type="number" ng-model="bools.engineMax"></input>
                </div>
                <div>
                    <label>Include unknown? <input type="checkbox" ng-model="bools.engineUnknown"></label>
                </div>
            </div>

            <div class="col-md-6">
                <h3>Year</h3>
                <div>
                    <label>Earliest</label>
                    <input type="number" ng-model="bools.yearMin"></input>
                    <label>Latest</label>
                    <input type="number" ng-model="bools.yearMax"></input>
                </div>
                <div>
                    <label>Include unknown? <input type="checkbox" ng-model="bools.yearUnknown"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Make</h3>
                <div ng-repeat="(key, set) in makes" class="make">
                    <label><input
                            type="checkbox"
                            ng-click="toggleOrigin(key)"
                            ng-model="origin[key]"
                            value="{{origin[key]}}">
                        {{key}}
                    </label>
                </div>
                <div>
                    <label><input type="checkbox" ng-model="bools.makeUnknown"> Include unknown?</label>
                </div>
            </div>

            <div class="col-md-6">
                <h3>Filter by keyword</h3>
                <input type="text" ng-model="filterTerm">
            </div>
        </div>
    </div>
    <div class="panel-footer" ng-click="showFilterOptions = !showFilterOptions">
        <p>{{showFilterOptions ? 'Hide' : 'Show'}} filter options</p>
    </div>
</div>

<div class="progress progress-striped active" ng-show="loading">
    <div class="progress-bar"
        role="progressbar"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 100%">
        Loading...
    </div>
</div>

<div class="panel panel-default" ng-show="bikes">
    <div class="panel-heading">
        <h2 class="panel-title">Results <small>{{bikes.length}} total</small></h2>
    </div>
    <table class="table table-striped table-condensed">
        <tr>
            <th ng-repeat="field in fields">
                <a ng-click="setSort(field)"
                    ng-class="sortField===field ? 'selected' : ''">
                    {{field | capitalize}}
                </a>
                <span class="glyphicon glyphicon-chevron-up"
                      ng-show="sortField === field && sortReverse"></span>
                <span class="glyphicon glyphicon-chevron-down"
                      ng-show="sortField === field && !sortReverse"></span>
            </th>
        </tr>
        <tr ng-repeat="bike in bikes | orderBy:sortField:sortReverse | filter:filterTerm"
            ng-if="filter(bike)">
            <td>{{bike.price ? '$' : ''}}{{bike.price | formatNumber}}</td>
            <td>
                <a href="{{bike.url}}" target="_blank">{{bike.title}}</a>
            </td>
            <td>{{bike.year}}</td>
            <td>{{bike.make | capitalize}}</td>
            <td>{{bike.engine}}{{bike.engine ? 'cc' : ''}}</td>
            <td>{{bike.date}}</td>
        </tr>
    </table>
    <div class="panel-footer">
        <p><em>You're welcome.</em></p>
    </div>
</div>

